/* src/components/EntriesPerPage/EntriesPerPage.css */
.entries-per-page {
  margin-right: 0; /* Aligner à droite */
  display: flex;
  align-items: center;
}

.entries-per-page label {
  margin-right: 10px;
}

.entries-per-page select {
  padding: 5px;
  border-radius: 4px;
}
